<!DOCTYPE html>

<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <meta name="description"  content="Céauce - Antoine Gallienne">
    <meta name="author"       content="Gallienne Antoine">
    <meta name="copyright"    content="MIT">

    <script src="https://kit.fontawesome.com/fd30c4b945.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/style/style.css">

    <title> Histoire-Céauce (61) - AG </title>
</head>

<body>

<main class="histceauce">
    <section class="page-histceauce">

        <a class="apresentation" href="../template/navceauce.html"><i class="fas fa-reply"></i> </a>

        <h1 class="titrehistoire">Histoire de Céauce</h1>

        <figure class="fig-histoire">
  <!--          <a class="acarte1930" href="navmaigner.html"><img src="../public/img/cartemaigner.webp" alt="carte postal" title="Ecole de Saint-Maigner vers 1930"></a>
  -->
        </figure>

        <p class="texte-histoire">
            Son Histoire

            Il y a des milliers d’années, notre région était déjà habitée par des peuplades préhistoriques. Le menhir, qui se trouve au village de "La Grande Pierre", confirme cette présence humaine à Céaucé. Ces premiers habitants vivaient sans doute de cueillette et de chasse comme en témoignent les haches et silex découverts au « Bordage », à la « Simonnerie » et à « Auvernay ». Il est probable que nos routes trouvent leur origine dans les sentiers alors tracés à travers la forêt.

            De l’époque gauloise, il nous reste peu de choses, si ce n’est quelques noms locaux d’origine celtique tels que « la Varenne », ou « les Fosses de Boire ». Les habitants de cette époque faisaient très probablement partie de la peuplade des Aulerques Diablintes.

            Pendant l’époque romaine, Céaucé était située près d’un importante voie romaine rejoignant Jublains. Il subsiste une partie du dallage au « Gué de Loré ». L’origine du nom de notre commune vient de cette époque. Le village s’appelait alors Celsiacum (la ferme de Celsius).

            Au VIème siècle, Céaucé fut l’une des premières paroisses de la région. L’évêque du Mans envoya de nombreux ermites pour prêcher le christianisme dans les campagnes. St Ernier, l’ermite chargé de notre région, remplaça les mercures romains par des calvaires et fut sans doute à l’origine des pèlerinages du « petit tour ». St Ernier était, en outre, le protecteur des moissons. Ces processions existent encore aujourd’hui et la relique du « bras de St Ernier » se trouve toujours dans l’église.

            Au XIème siècle, la région connut une période de prospérité. Ce fut l’époque de la construction de Notre Dame sur l’Eau à Domfront et de l’Abbaye de Lonlay. C’était aussi un lieu de passage entre l’Angleterre et les régions du Sud de la France. Le village de « L’hotellerie » en est un témoin. C’est pourquoi Henri II, la reine Mathilde et Richard Coeur de Lion parcoururent cette route.

            En 1199, Céaucé est séparée en deux par une donation d’Arthur à Juhel II, Baron de Mayenne. Céaucé en Maine avait son assemblée, son syndic et ses collecteurs d’impôts. On y dépendait de l’élection de Mayenne, de la généralité de Tours et du parlement de Paris. Céaucé en Normandie dépendait de l’élection de Domfront, de l’intendance d’Alençon et parlement de Rouen. La limite devait longer le bois de Montchauveau.

            Malgré les différences importantes, il y avait une seule église. Mais le création des diocèses, pendant la Révolution, apporta les premières difficultés. La Chapelle Saint Laurent fit office d’église pour la partie normande. Après six siècles de séparation, Céaucé fut réunifiée en 1832. Mais entre temps, notre région connut les troubles de la Guerre de Cent Ans et des guerres de religion. En 1574, le bourg est pillé, l’église brûlée. Le château de Domfront est démoli en 1608.

            En 1661, Jean Pottier, de St Front fonda le Collège de Céaucé. Un peu plus tard, une petite école pour les enfants fut annexée. Ce collège était un des premiers de la région et prospéra rapidement. Il subsista jusqu’à le Révolution. La place du collège est sans doute l’emplacement de cette institution.

            En 1673, on recensait 37 artisans à Céaucé (filatier, tissier, savetier, cloutier, etc) Le tissage du chanvre et du lin y était particulièrement important.

            Pendant la révolution, Céaucé connut également la Chouannerie.

            De ces temps anciens, il nous reste des vestiges d’anciens fiefs : Monchauveau dont on trouve des traces dès le XIIème siècle, La Bénardière, qui date du XVème siècle et qui possède une chapelle dédiée à St Jean (1526) et une cave très ancienne.
        </p>

        <p class="refmairie">
            Texte issu du
            <a class="lienmaigner" href=" http://www.mairie-ceauce.fr/article1.html"> site officiel  de la mairie de Céauce</a>
        </p>

    </section>

</main>
</body>
</html>
