<!DOCTYPE html>

<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <meta name="description"  content="Saint-Maigner Antoine Gallienne">
    <meta name="author"       content="Gallienne Antoine">
    <meta name="copyright"    content="MIT">

    <link rel="stylesheet" href="./public/style/style.css">

    <title> Histoire-Saint Maigner (63) </title>
</head>

<body>

<main class="histoire">
    <section class="page-histoire">

        <p class="texte-histoire">
            Le village doit son nom à un certain Saint-magnat dont on trouve la trace ves 1262.
            Les seigneurs qui gèrent Saint-Maigner sont ceux qui encadrent Pionsat. L’église
            fondée en 1100 dépendait de l’abbaye d’Ébreuil bien que située sur le territoire
            épiscopal de Menat. Au cours des siècles, l’église est le soin de tous
            les paroissiens ; certains veulent agrandir le cimetière, les fidèles y sont
            nombreux, notamment à Pâques. Au XVIIIème siècle, Saint-Maigner est actif
            sur ses terres où côtoient métayers, journalier et propriétaires, et l’on
            sait qu’il y avait aussi des tisserands et des marchands de bestiaux.
            A la révolution Française les biens du clergé seront vendus. Au XIXème siècle
            se construira l’école ainsi qu’une voie ferrée mais celle-ci sera sans avenir
            C’est ainsi qu’à l’époque moderne, Saint-Maigner, à l’écart des voies
            de communications modernes verra sa population diminuer. Après les crises
            démographiques lors des malheurs du XIVème siècle et la période de Louis XIV
            la population augmente fortement au XVIIème siècle : 800 habitants en 1713
            plus de 1 000 sous le second empire. La quasi totalité des Saint-Magnats
            étaient paysans souvent de conditions très modestes. Pas étonnant que notre
            commune ait connu un fort exode dès la fin du XIXème siècle : départ temporaire
            des maçons et définitif aussi vers les mines ou les villes. Cet exode a repris
            dans les années 1950 mais Saint-Maigner bénéficie maintenant de l’attrait
            nouveau pour la campagne et a vu sa population passer de 174 à 205 habitants
            au dernier recensement. La commune de Saint-Maigner garde toujours un caractère
            très rural : 10 exploitations agricoles occupent 60 % de la superficie totale
            du territoire communal et les productions se partagent entre culture et élevage.
            D’autre part, 7 artisans et un commerce sont venus s’implanter sur la commune
            mais à l’heure d’aujourd’hui, il n’en reste plus que 2.
        </p>
<!--
    <figure class="sigleag">
        <img src="./public/img/AG.webp" alt="sigleAG">
    </figure>
    -->

    </section>

</main>
</body>
</html>
