<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <meta name="description"  content="Saint-Maigner Antoine Gallienne">
    <meta name="author"       content="Gallienne Antoine">
    <meta name="copyright"    content="MIT">

    <link rel="stylesheet" href="../public/style/style.css">

    <title> Céauce (63) - AG </title>
</head>

<body>

    <main class="polaceauce">
        <section class="page-polaceauce">

            <a class="polaroid" href="../template/navceauce.html"><img src="../public/img/polarceauce2.webp" alt="Polaroid de St-Magnat"></a>
            <a class="polaretceauce" href="./../index.html"><img src="../public/img/panceauce2.webp" alt="Pancarte Ceauce"></a>

        </section>
    </main>

</body>
</html>
