<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <meta name="description"  content="Céauce (61330) - Antoine Gallienne">
    <meta name="author"       content="Gallienne Antoine">
    <meta name="copyright"    content="MIT">

    <link rel="stylesheet" href="../public/style/style.css">

    <title> Céauce (61330) - AG </title>
</head>

<body>

    <main class="navceauce">
        <section class="page-navceauce">

            <img class="polaceauce" src="../public/img/polarceauce2.webp" alt="polaroid Céauce" >

            <a class="apreceauce" href="presentceauce.html"><img src="../public/img/panceauce.webp" alt="pancarte Céauce" title="présentation"></a>
            <a class="ahistceauce" href="histceauce.html"><img src="../public/img/panceauce2.webp" alt="pancarte Céauce" title="histoire"></a>

            <a class="panretceauce" href="./../index.html"><img src="../public/img/panceauce3.webp" alt="Pancarte Ceauce"></a>

        </section>
    </main>

</body>
</html>
