<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <meta name="description"  content="Saint-Maigner Antoine Gallienne">
    <meta name="author"       content="Gallienne Antoine">
    <meta name="copyright"    content="MIT">

    <link rel="stylesheet" href="../public/style/style.css">

    <title> Céauce (63) - AG </title>
</head>

<body>

    <main class="navceauce">
        <section class="page-navceauce">

            <figure class="fig-navceauce">
                <a class="apresentation" href="presentceauce.html"><img src="../public/img/panceauce.webp" alt="pancarte St-Maigner" title="présentation"></a>
                <a class="ahistoire" href="histceauce.html"><img src="../public/img/panceauce2.webp" alt="pancarte St-Magnat" title="histoire"></a>
            </figure>

            <a class="polaretceauce" href="./../index.html"><img src="../public/img/panceauce3.webp" alt="Pancarte Ceauce"></a>

        </section>
    </main>

</body>
</html>
