<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <meta name="description"  content="Saint-Maigner (63330) - Antoine Gallienne">
    <meta name="author"       content="Gallienne Antoine">
    <meta name="copyright"    content="MIT">

    <link rel="stylesheet" href="../public/style/style.css">

    <title> Saint Maigner (63330)-AG </title>
</head>

<body>

    <main class="navmaigner">

       <section class="page-navmaigner">

           <img class="appolamaigner" src="../public/img/appolaroide.webp" alt="appareil polaroid"> ;

           <img class="polamaigner" src="../public/img/stmaigner3.webp" alt=" polaroid St Maigner">;


           <a class="apremaigner" href="presentmaigner.html"><img src="../public/img/panmaigner.webp" alt="pancarte St-Maigner" title="présentation"></a>
           <a class="ahistmaigner" href="histmaigner.html"><img src="../public/img/stmagnat.webp" alt="pancarte St-Magnat" title="histoire"></a>
           <a class="arandmaigner" href="histmaigner.html"><img src="../public/img/randonnee.webp" alt="pancarte randonnee" title="randonnee"></a>

           <a class="panretmaigner" href="./../index.html"><img src="../public/img/panremaigner.webp" alt="pancarte Saint-Maigner" ></a>

        </section>

    </main>
</body>
</html>
