<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <meta name="description"  content="Saint-Maigner Antoine Gallienne">
    <meta name="author"       content="Gallienne Antoine">
    <meta name="copyright"    content="MIT">

    <link rel="stylesheet" href="../public/style/style.css">

    <title> Saint Maigner (63)-AG </title>
</head>

<body>

    <main class="navmaigner">

       <section class="page-navmaigner">

           <figure class="fig-navmaigner">
               <a class="apresentation" href="../template/presentation.html"><img src="../public/img/panmaigner.webp" alt="pancarte St-Maigner" title="présentation"></a>
               <a class="ahistoire" href="../template/histoire.html"><img src="../public/img/stmagnat.webp" alt="pancarte St-Magnat" title="histoire"></a>
               <a class="arandonnee" href="../template/histoire.html"><img src="../public/img/randonnee.webp" alt="pancarte randonnee" title="randonnee"></a>

           </figure>

           <a class="retourmaigner" href="./../index.html"><img src="../public/img/panremaigner.webp" alt="pancarte randonnee" ></a>

        </section>

    </main>
</body>
</html>
<!--

                 <section class="stmaigner">
                     <h3> Saint Maigner (63) </h3>
                     <p>
                     </p>
                 </section>

                 <section class="etangduvert">
                     <h3> Etang du Vert</h3>
                     <p>
                     </p>
                 </section>

             <figure class="agsigle">
                 <img src="./public/img/AG.webp" alt="sigleAG">
             </figure>
         -->