<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <meta name="description"  content="Saint-Maigner Antoine Gallienne">
    <meta name="author"       content="Gallienne Antoine">
    <meta name="copyright"    content="MIT">

    <link rel="stylesheet" href="../public/style/style.css">

    <title> AG-Saint Maigner (63) </title>
</head>

<body>

    <main class="polamaigner">
        <section class="page-polamaigner">

            <figure>
                <a class="polaroid" href="../template/navigation.html"><img src="../public/img/polaroid2.webp" alt="Polaroid de St-Magnat"></a>
                <a class="polaremaigner" href="./../index.html"><img src="../public/img/panmaigner2.webp" alt="Pancarte Saint-Maigner"></a>
            </figure>

        </section>
    </main>
</body>
</html>
