<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <meta name="description"  content="Saint-Maigner Antoine Gallienne">
    <meta name="author"       content="Gallienne Antoine">

    <meta name="copyright"    content="MIT">

    <link rel="stylesheet" href="../public/style/style.css">

    <title> AG-Saint Maigner (63) </title>
</head>

<body>

    <main class="polamaigner">
        <section class="page-polamaigner">

            <a class="polaroid" href="navmaigner.html"><img src="../public/img/polaroid2.webp" alt="Polaroid de St-Magnat"></a>

            <figure class="fig-navigation">
                <section class="page-navigation">
                    <a class="apresentation" href="presentmaigner.html"><img src="../public/img/panmaigner.webp" alt="pancarte St-Maigner" title="présentation"></a>
                    <a class="ahistoire" href="histmaigner.html"><img src="../public/img/stmagnat.webp" alt="pancarte St-Magnat" title="histoire"></a>
                    <a class="arandonnee" href="histmaigner.html"><img src="../public/img/randonnee.webp" alt="pancarte randonnee" title="randonnee"></a>
                    <a class="retourmaigner" href="./../index.html"><img src="../public/img/panremaigner.webp" alt="pancarte randonnee" ></a>
                </section>
            </figure>

        </section>

    </main>
</body>
</html>
