<!DOCTYPE html>

<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <meta name="description"  content="Saint-Maigner Antoine Gallienne">
    <meta name="author"       content="Gallienne Antoine">
    <meta name="copyright"    content="MIT">

    <script src="https://kit.fontawesome.com/fd30c4b945.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/style/style.css">

    <title> Présentation-Saint Maigner (63) - AG </title>
</head>

<body>

<main class="presentation">
    <section class="page-presentation">

        <a class="apresentation" href="../template/navceauce.html"><i class="fas fa-reply"></i> </a>

        <h1 class="titrepresentation">Céauce</h1>

        <p class="texte-presentation">
            Population et Superficie

            Céaucé

            61330, Orne, Basse-Normandie, France

            Longitude : -0.624444 E Latitude : 48.494720 N

            Code INSEE : 61075

            Les citoyens de Céaucé sont nommés les Céaucéens et les Céaucéennes

            La superficie de Céaucé est de 4152 hectares (41.52 km2) avec une altitude minimum de 100 mètres et un maximum de 262 mètres.

            Céaucé compte 1 285 habitants (recensement publié en 2015) avec une densité de 30,32 personnes par km2.

            Depuis le 1er janvier 2013, Céaucé est rattachée à la Communauté de communes du Passais.

        </p>

        <p class="refmairie">
            Texte issu du
            <a class="lienmaigner" href="http://www.mairie-ceauce.fr/article4.html"> site officiel  de la mairie de Céauce</a>
        </p>

    </section>

</main>
</body>
</html>
