<!DOCTYPE html>

<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <meta name="description"  content="Saint-Maigner Antoine Gallienne">
    <meta name="author"       content="Gallienne Antoine">
    <meta name="copyright"    content="MIT">

    <script src="https://kit.fontawesome.com/fd30c4b945.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/style/style.css">

    <title> Présentation-Saint Maigner (63) - AG </title>
</head>

<body>

<main class="presentation">
    <section class="page-presentation">

        <a class="apresentation" href="../template/navmaigner.html"><i class="fas fa-reply"></i> </a>

        <h1 class="titrepresentation">Saint-Maigner</h1>

        <p class="texte-presentation">
            Saint-Maigner est un petit village français à 620 m d’altitude,
            situé dans le département du Puy-de-Dôme et la région Auvergne.<br>
            Ses habitants sont appelés les Saint-Magnats et les saint-Magnates.<br>
            La commune s’étend sur 19.0 m2 et compte 193 habitants depuis
            le dernier recensement de la population datant de 2017 avec
            une densité de 10.8 habitants par km2.<br> Saint-Maigner a connu
            une nette hausse de 17.2 % de sa population en rapport avec 1999.
            Entouré par les communes de Bussières, Pionsat,
            la Cellette et Saint-Julien-lès-Genest, Saint-Maigner est
            situé à 29 km au sud-est de Montluçon.<br> La commune est
            proche du parc naturel Régional des Volcans d’Auvergne
            à environ 24 km. Notre petit bourg typique des Combrailles
            est un havre de tranquillité et de douceur ; de petits sentiers
            et des chemins permettent la découverte de la forêt de Pionsat.<br>
            Les pêcheurs peuvent s’adonner à leur sport favori dans
            les ruisseaux poissonneux et dans l’Etang du Vert.<br>
            La commune de Saint-Maigner garde un caractère très rural :
            10 exploitations agricoles occupent 60 % de la superficie
            totale du territoire communal et les productions se partagent
            entre culture et élevage ; 7 artisans et 1 commerce sont
            implantés sur la commune.<br> Saint-Maigner est également riche
            d’une vie associative dense et dynamique : six associations
            participent à la vie du village et se regroupent chaque année
            au coeur des Saint Magnats pour la fête de la Saint-Georges
            le dernier week-end d’Avril.
        </p>

        <p class="refmairie">
            Texte issu du
            <a class="lienmaigner" href=" http://www.saint-maigner.fr/spip.php?article3"> site officiel  de la mairie de Saint-Maigner</a>
        </p>

    </section>

</main>
</body>
</html>
