@charset "UTF-8";
@font-face {
  font-family: "KaushanScript-Regular";
  src: url("../../public/font/KaushanScript-Regular.ttf") format("truetype"), url("../../public/font/KaushanScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.stmaigner {
  width: 100%;
  margin: auto;
}

.page-stmaigner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  background: no-repeat url("../../public/img/aeriennb.webp");
  /*
  background-size: 300px;
  */
  width: 586px;
  height: 100vh;
  margin: auto;
}

.polaroid img {
  width: 25rem;
  /*align-self: center;
  justify-self: center;*/
}

/*  -----------------  pour les écrans moyens de 768px tablette  -------------*/
/* -------------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  body .page-stmaigner {
    width: 586px;
    height: 700px;
  }
}
@media screen and (min-width: 1024px) {
  body .page-stmaigner {
    width: 586px;
    height: 700px;
  }
}

.histoire {
  width: 100%;
  margin: auto;
}

.page-histoire {
  display: flex;
  flex-direction: column;
  background: url("../../public/img/histoire2.webp");
  width: 586px;
  height: auto;
  margin: auto;
  border: solid 1.5rem #3e3831;
}

h1 {
  font-family: "KaushanScript-Regular";
  text-align: center;
}

.acarte1930 img {
  width: 400px;
}

figure {
  margin: auto;
}

.texte-histoire {
  font-family: "KaushanScript-Regular";
  font-size: 1.3rem;
  /*
  	font-weight: bold;
  */
  color: black;
  padding: 5vh 5vw 5vh 5vw;
}

/*  -----------------  pour les écrans moyens de 768px tablette  -------------
 ----------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  body .page-histoire {
    width: 700px;
    height: auto;
  }
}
@media screen and (min-width: 1024px) {
  body .page-histoire {
    width: 1000px;
    height: auto;
  }
}

.presentation {
  width: 100%;
  margin: auto;
}

.page-presentation {
  background: no-repeat url("../../public/img/presentation.webp");
  width: 586px;
  height: auto;
  margin: auto;
  border: solid 1.5rem #2f4b2e;
}

.texte-presentation {
  font-family: "KaushanScript-Regular";
  font-size: 1.3rem;
  color: black;
  padding: 5vh 5vw 5vh 5vw;
}

/*  -----------------  pour les écrans moyens de 768px tablette  -------------
 ----------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  body .page-presentation {
    width: 586px;
    height: auto;
  }
}
@media screen and (min-width: 1024px) {
  body .page-presentationpage {
    width: 586px;
    height: auto;
  }
}

.navigation {
  width: 100%;
  margin: auto;
  background: no-repeat url("../../public/img/aeriennb.webp");
}

.page-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: no-repeat url("../../public/img/stmaigner2.webp");
  background-size: 550px;
  background-position: center;
  width: 586px;
  height: 100vh;
  margin: auto;
}

.apresentation img,
.ahistoire img {
  width: 10rem;
  align-self: center;
  justify-self: center;
  padding: 1vh 1vw 1vh 1vw;
}

.apresentation:hover,
.ahistoire:hover {
  transform: scale(1.3);
  transition-duration: 600ms;
}

.fig-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  -----------------  pour les écrans moyens de 768px tablette  -------------*/
/* -------------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  body .page-navigation {
    width: 586px;
    height: 700px;
  }
}
@media screen and (min-width: 1024px) {
  body .page-navigation {
    width: 586px;
    height: 700px;
  }
}

/*# sourceMappingURL=style.css.map */
