@charset "UTF-8";
@font-face {
  font-family: "KaushanScript-Regular";
  src: url("../../public/font/KaushanScript-Regular.ttf") format("truetype"), url("../../public/font/KaushanScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.stmaigner {
  width: 100vw;
  margin: auto;
}

.page-stmaigner {
  display: grid;
  grid-template-rows: 0.5fr 2fr 0.5fr 0.5fr 0.5fr;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  grid-template-areas: ". . ag1 .  ." ". a1 a1 a1 ." " .  . a2  .  ." " b1 b1  .  b3 b3" " c1  c1 .  c3 c3";
  margin: auto;
  width: 90vw;
  height: 80vh;
}

.sigleag {
  grid-area: ag1;
  width: 30vw;
  align-self: center;
  justify-self: center;
  padding-top: 10vh;
}

.titreindex {
  grid-area: a1;
  align-self: end;
  justify-self: center;
  font-size: 3rem;
  white-space: pre-line;
}

.ou {
  grid-area: a2;
  align-self: center;
  justify-self: center;
  color: black;
  text-decoration: none;
  font-size: 3rem;
  margin: 0;
}

.dep61 {
  grid-area: b1;
  align-self: end;
  justify-self: center;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.8rem;
  margin: 0;
}

.dep63 {
  grid-area: b3;
  align-self: end;
  justify-self: center;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.8rem;
  margin: 0;
}

.orne {
  grid-area: c1;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  align-self: start;
  justify-self: center;
  white-space: pre-line;
  padding-bottom: 5vh;
}

.pdd {
  grid-area: c3;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  align-self: start;
  justify-self: center;
  white-space: pre-line;
  padding-bottom: 5vh;
}

@media screen and (min-width: 768px) {
  body {
    /*
          .stmaigner{
            width: 100vw;
            margin: auto;
          }

          .page-stmaigner {
    			width: 50vw;
    			height: 100vh;
          }


          .titreindex{
            grid-area: a2;
            align-self: center;
            justify-self: center;
            font-size: 3rem;
          }

          .dep61{
            grid-area: b1;
            align-self: end;
            justify-self: center;
            font-size: 3rem;
            margin: 0;
          }

          .dep63{
            grid-area: b3;
            align-self: end;
            justify-self: center;
            font-size: 3rem;
            margin: 0;
          }

          .orne p{
            grid-area: c1;
            font-size: 1.3rem;
            white-space: pre;
            align-self: start;
            justify-self: center;
          }

          .pdd {
            grid-area: c3;
            font-size: 1.3rem;
            white-space: pre;
            align-self: start;
            justify-self: center;
          }

        }

      // -----------------------------------------------
    	@include media-min(1024px) {
    		.page-stmaigner {
    			width: 800px;
    			height: 700px;
    		}
    /*
          .titreindex{
            grid-area: a2;
            align-self: center;
            justify-self: center;
            font-size: 3rem;
          }

          .dep61{
            grid-area: b1;
            align-self: end;
            justify-self: center;
            font-size: 3rem;
            margin: 0;
          }

          .dep63{
            grid-area: b3;
            align-self: end;
            justify-self: center;
            font-size: 3rem;
            margin: 0;
          }

          .orne{
            grid-area: c1;
            font-size: 1.3rem;
            align-self: start;
            justify-self: center;
          }

          .pdd {
            grid-area: c3;
            font-size: 1.3rem;
            align-self: start;
            justify-self: center;
          }
    */
  }
}

.histoire {
  width: 100%;
  margin: auto;
}

.page-histoire {
  display: flex;
  flex-direction: column;
  background: url("../../public/img/histoire2.webp");
  width: 586px;
  height: auto;
  margin: auto;
  border: solid 1.5rem #3e3831;
}

/*
.fa-reply {
	font-size: 3rem;
	padding: 5vh 0 0 10vw;

}*/
.titrehistoire {
  font-family: "KaushanScript-Regular";
  text-align: center;
  font-size: 2rem;
  padding: 5vh 2vw 5vh 2vw;
  margin: auto;
}

.acarte1930 img {
  width: 400px;
}

.fig-histoire {
  margin: auto;
}

.texte-histoire {
  font-family: "KaushanScript-Regular";
  font-size: 1.3rem;
  /*
  	font-weight: bold;
  */
  color: black;
  padding: 5vh 5vw 5vh 5vw;
}

/*  -----------------  pour les écrans moyens de 768px tablette  -------------
 ----------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  body .page-histoire {
    width: 700px;
    height: auto;
  }
}
@media screen and (min-width: 1024px) {
  body .page-histoire {
    width: 1000px;
    height: auto;
  }
}

.presentation {
  width: 100%;
  margin: auto;
}

.page-presentation {
  background: no-repeat url("../../public/img/presentation.webp");
  width: 586px;
  height: auto;
  margin: auto;
  border: solid 1.5rem #2f4b2e;
}

.fa-reply {
  font-size: 3rem;
  padding: 5vh 0 0 10vw;
}

.titrepresentation {
  font-family: "KaushanScript-Regular";
  text-align: center;
  font-size: 2rem;
  margin: auto;
}

.texte-presentation {
  font-family: "KaushanScript-Regular";
  font-size: 1.6rem;
  color: black;
  padding: 5vh 5vw 5vh 5vw;
}

/*  -----------------  pour les écrans moyens de 768px tablette  -------------
 ----------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  body .page-presentation {
    width: 700px;
    height: auto;
  }
}
@media screen and (min-width: 1024px) {
  body .page-presentationpage {
    width: 1000px;
    height: auto;
  }
}

.navmaigner {
  width: auto;
  height: 100vh;
  padding: 25vh 0 0 0;
  background: no-repeat url("../../public/img/appolaroide.webp");
  background-size: 350px;
  background-position: 50% 15%;
}

.page-navmaigner {
  background: no-repeat url("../../public/img/stmaigner3.webp");
  background-size: 300px;
  background-position: center;
  height: 50vh;
  margin: auto;
}

.fig-navmaigner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

.apresentation img,
.ahistoire img,
.arandonnee img,
.retourmaigner img {
  width: 8rem;
  align-self: center;
  justify-self: center;
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
}

.apresentation,
.ahistoire,
.arandonnee {
  transform: rotate(-11deg);
}

.apresentation:hover,
.ahistoire:hover,
.arandonnee:hover,
.retourmaigner:hover {
  transform: scale(1.3);
  transition-duration: 600ms;
}

.retourmaigner {
  position: relative;
  left: 5vw;
  top: 120px;
}

/*
.apresentation{
	transform: translateX(180px);
}
.ahistoire{
	transform: translateX(180px);
}
.arandonnee{
	transform: translateX(180px);
}
.retourmaigner{
	transform: translateX(180px);
}*/
/*  -----------------  pour les écrans moyens de 768px tablette  -------------*/
/* -------------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  body {
    /*
    		.page-navmaigner {
    			width: 600px;
    			height: 700px;
    		}*/
  }
}
@media screen and (min-width: 1024px) {
  body {
    /*
    .page-navmaigner {
    	width: 800px;
    	height: 700px;
    }*/
  }
}

.polaceauce {
  margin: auto;
}

.page-polaceauce {
  display: grid;
  grid-template-rows: 1fr 0.1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: " pola pola pola" " pano   .   . " "  .     .   . ";
  width: 70vw;
  height: 100vh;
  padding: 0 5vw 5vh 5vw;
  margin: auto;
}

.polaroid {
  grid-area: pola;
  align-self: start;
  justify-self: center;
  margin: 0;
}

.polaretceauce {
  grid-area: pano;
  align-self: start;
  margin: 0;
}

.polaroid img {
  width: 80vw;
  margin: auto;
}

.polaretceauce img {
  width: 30vw;
  margin: auto;
}

/*  -----------------  pour les écrans moyens de 768px tablette  -------------*/
/* -------------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  body .page-polaceauce {
    width: 600px;
    height: 700px;
  }
}
@media screen and (min-width: 1024px) {
  body .page-polaceauce {
    width: 800px;
    height: 700px;
  }
}

/*# sourceMappingURL=style.css.map */
