

@font-face {
  font-family: 'KaushanScript-Regular';
  src: url('../../public/font/KaushanScript-Regular.ttf') format('truetype'),
  url('../../public/font/KaushanScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
