.histoire{
	width: 100%;
	margin: auto;
}

.page-histoire {
	background: no-repeat url('../../public/img/histoire.webp');
	/*
	background-size: 300px;
	*/
	width: 586px;
	height: 575px;
	margin: auto;
}

.texte-histoire{
	color: blue;
	border: solid 2rem green;
}

/*  -----------------  pour les écrans moyens de 768px tablette  -------------*/
/* -------------------------------------------------------------------------------*/

body {

	@include media-min(768px) {

		.page-histoire {
			width: 586px;
			height: 575px;
		}
	}
	@include media-min(1024px) {
		.page-histoire {
			width: 586px;
			height: 575px;

		}

	}
}
