
.histoire{
	width: 100%;
	margin: auto;
}

.page-histoire {
	display: flex;
	flex-direction: column;
	background:  url('../../public/img/histoire2.webp');
	width: 586px;
	height: auto;
	margin: auto;
	border: solid 1.5rem $histoire;
}
h1{
	font-family: 'KaushanScript-Regular';
	text-align: center;
}

.acarte1930 img{
	width: 400px;
}
figure{
	margin: auto;
}

.texte-histoire{
	font-family: 'KaushanScript-Regular';
	font-size: 1.3rem;
	/*
	font-weight: bold;
*/
	color: black;
	padding: 5vh 5vw 5vh 5vw;
}

/*  -----------------  pour les écrans moyens de 768px tablette  -------------
 ----------------------------------------------------------------------------*/

body {

	@include media-min(768px) {

		.page-histoire {
			width: 700px;
			height: auto;
		}
	}
	@include media-min(1024px) {
		.page-histoire {
			width: 1000px;
			height: auto;

		}

	}
}

