.stmaigner{
	width: 100%;
	margin: auto;
}

.page-stmaigner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: no-repeat url('../../public/img/saint-maigner.webp');
	/*
	background-size: 300px;
	*/
	width: 586px;
	height: 575px;
	margin: auto;
}

.ahistoire img,
.apresentation img{
	width: 8rem;
	align-self: center;
	justify-self: center;
}




/*  -----------------  pour les écrans moyens de 768px tablette  -------------*/
/* -------------------------------------------------------------------------------*/

body {

	@include media-min(768px) {

		.page-stmaigner {
			width: 586px;
			height: 575px;
		}
	}
	@include media-min(1024px) {
		.page-stmaigner {
			width: 586px;
			height: 575px;

		}
	}

}
