
.stmaigner{
	width: 100vw;
	margin: auto;
}

.page-stmaigner{
	display:grid;
	grid-template-rows:    0.5fr 2fr 0.5fr 0.5fr 0.5fr;
	grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
	grid-template-areas: 	"  .  .  ag1  .   . "
                            "  .  a1  a1  a1  . "
                            "  .  .   a2  .   . "
							" b1  b1   .  b3  b3"
							" c1  c1   .  c3  c3";
	margin: auto;
	width: 90vw;
	height: 80vh;

	//background: no-repeat url('../../public/img/aeriennb.webp');
}

.sigleag{
  grid-area: ag1;
  width: 30vw;
  align-self: center;
  justify-self: center;
  padding-top: 10vh;
}

.titreindex{
  grid-area: a1;
  align-self: end;
  justify-self: center;
  font-size: 3rem;
  white-space: pre-line;
 // padding-top: 10vh;
}
.ou{
  grid-area: a2;
  align-self: center;
  justify-self: center;
  color: black;
  text-decoration: none;
  font-size: 3rem;
  margin: 0;
}
.dep61{
  grid-area: b1;
  align-self: end;
  justify-self: center;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.8rem;
  margin: 0;
}

.dep63{
  grid-area: b3;
  align-self: end;
  justify-self: center;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.8rem;
  margin: 0;
}

.orne{
  grid-area: c1;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  align-self: start;
  justify-self: center;
  white-space: pre-line;
  padding-bottom: 5vh;
}

.pdd {
  grid-area: c3;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  align-self: start;
  justify-self: center;
  white-space: pre-line;
  padding-bottom: 5vh;
}



//  -----------------  pour les écrans moyens de 768px tablette  -------------*/
// -------------------------------------------------------------------------------*/

body {

	@include media-min(768px) {
/*
      .stmaigner{
        width: 100vw;
        margin: auto;
      }

      .page-stmaigner {
			width: 50vw;
			height: 100vh;
      }


      .titreindex{
        grid-area: a2;
        align-self: center;
        justify-self: center;
        font-size: 3rem;
      }

      .dep61{
        grid-area: b1;
        align-self: end;
        justify-self: center;
        font-size: 3rem;
        margin: 0;
      }

      .dep63{
        grid-area: b3;
        align-self: end;
        justify-self: center;
        font-size: 3rem;
        margin: 0;
      }

      .orne p{
        grid-area: c1;
        font-size: 1.3rem;
        white-space: pre;
        align-self: start;
        justify-self: center;
      }

      .pdd {
        grid-area: c3;
        font-size: 1.3rem;
        white-space: pre;
        align-self: start;
        justify-self: center;
      }

    }

  // -----------------------------------------------
	@include media-min(1024px) {
		.page-stmaigner {
			width: 800px;
			height: 700px;
		}
/*
      .titreindex{
        grid-area: a2;
        align-self: center;
        justify-self: center;
        font-size: 3rem;
      }

      .dep61{
        grid-area: b1;
        align-self: end;
        justify-self: center;
        font-size: 3rem;
        margin: 0;
      }

      .dep63{
        grid-area: b3;
        align-self: end;
        justify-self: center;
        font-size: 3rem;
        margin: 0;
      }

      .orne{
        grid-area: c1;
        font-size: 1.3rem;
        align-self: start;
        justify-self: center;
      }

      .pdd {
        grid-area: c3;
        font-size: 1.3rem;
        align-self: start;
        justify-self: center;
      }
*/
    }

}
