
.stmaigner{
	width: 100vw;
	margin: auto;
}

.page-stmaigner{
	display:grid;
	grid-template-rows:    0.5fr 2fr 0.5fr 0.5fr 0.5fr;
	grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
	grid-template-areas: 	"  .  .  ag1  .   . "
                            "  .  a1  a1  a1  . "
                            "  .  .   a2  .   . "
							" b0  b1  b2  b3  . "
							" c1  c1  c3  c3  . ";
	margin: auto;
	width: 90vw;
	height: 80vh;

}

.sigleag{
  grid-area: ag1;
  width: 20vw;
  align-self: center;
  justify-self: center;
  padding-top: 10vh;
}

.titreindex{
  grid-area: a1;
  align-self: center;
  justify-self: center;
  font-size: 2.5rem;
  white-space: pre-line;
  margin: auto;
  padding-top: 10vh;
}

.ou{
  grid-area: a2;
  align-self: center;
  justify-self: center;
  color: black;
  text-decoration: none;
  font-size: 2rem;
  margin: 0;
}

.de{
  grid-area: b0;
  align-self: center ;
  justify-self: center;
  color: black;
  padding: 0 5vw 0 0 ;
  font-size: 1.5rem;
  margin: 0;
}

.a{
  grid-area: b2;
  align-self: center;
  justify-self: right;
  color: black;
  padding: 0 5vw 0 0 ;
  font-size: 1.5rem;
  margin: 0;
}

.pano61330{
  grid-area: b1;
  align-self: stretch;
  justify-self: stretch;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.8rem;
  margin: 0;
}

.pano63330{
  grid-area: b3;
  align-self: center;
  justify-self: start;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 0 1vw 0 0 ;
  margin: 0;
}

.orne{
  grid-area: c1;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  align-self: center;
  justify-self: center;
  padding-bottom: 5vh;
}

.pdd {
  grid-area: c3;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  align-self: center;
  justify-self: end;
  padding-bottom: 5vh;
}

.pano61330 img,
.pano63330 img{
  display: block;
  width: 25vw;
  margin: auto;
}


//  -----------------   Media query de 540px à 1200px  -------------*/
// -----------------------------------------------------------------*/

body {

	@include media-min(768px) {

      border: violet solid 2px;

      .sigleag {
        grid-area: ag1;
        width: 20vw;
        align-self: center;
        justify-self: center;
        padding-top: 10vh;
      }

      .titreindex {
        grid-area: a1;
        align-self: center;
        justify-self: center;
        font-size: 2.5rem;
        white-space: pre-line;
        margin: auto;
        padding-top: 10vh;
      }

      .ou {
        grid-area: a2;
        align-self: center;
        justify-self: center;
        color: black;
        text-decoration: none;
        font-size: 2rem;
        margin: 0;
      }

      .de {
        grid-area: b0;
        align-self: center;
        justify-self: center;
        color: black;
        padding: 0 5vw 0 0;
        font-size: 1.7rem;
        margin: 0;
      }

      .a {
        grid-area: b2;
        align-self: center;
        justify-self: right;
        color: black;
        padding: 0 5vw 0 0;
        font-size: 1.7rem;
        margin: 0;
      }

      .pano61330 {
        grid-area: b1;
        align-self: stretch;
        justify-self: stretch;
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.8rem;
        margin: 0;
      }

      .pano63330 {
        grid-area: b3;
        align-self: center;
        justify-self: start;
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.8rem;
        padding: 0 1vw 0 0;
        margin: 0;
      }

      .orne {
        grid-area: c1;
        font-size: 1rem;
        color: black;
        text-decoration: none;
        align-self: center;
        justify-self: center;
        padding-bottom: 5vh;
      }

      .pdd {
        grid-area: c3;
        font-size: 1rem;
        color: black;
        text-decoration: none;
        align-self: center;
        justify-self: end;
        padding-bottom: 5vh;
      }

      .pano61330 img,
      .pano63330 img {
        display: block;
        width: 25vw;
        margin: auto;
      }
    }

  // -----------------------------------------------
	@include media-min(1024px) {

      border: yellow solid 2px;

      .sigleag{
        grid-area: ag1;
        width: 20vw;
        align-self: center;
        justify-self: center;
        padding-top: 10vh;
      }

      .titreindex{
        grid-area: a1;
        align-self: center;
        justify-self: center;
        font-size: 2.5rem;
        white-space: pre-line;
        margin: auto;
        padding-top: 10vh;
      }

      .ou{
        grid-area: a2;
        align-self: center;
        justify-self: center;
        color: black;
        text-decoration: none;
        font-size: 2rem;
        margin: 0;
      }

      .de{
        grid-area: b0;
        align-self: center ;
        justify-self: center;
        color: black;
        padding: 0 5vw 0 0 ;
        font-size: 2rem;
        margin: 0;
      }

      .a{
        grid-area: b2;
        align-self: center;
        justify-self: right;
        color: black;
        padding: 0 5vw 0 0 ;
        font-size: 2rem;
        margin: 0;
      }

      .pano61330{
        grid-area: b1;
        align-self: stretch;
        justify-self: stretch;
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.8rem;
        margin: 0;
      }

      .pano63330{
        grid-area: b3;
        align-self: center;
        justify-self: start;
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.8rem;
        padding: 0 1vw 0 0 ;
        margin: 0;
      }

      .orne{
        grid-area: c1;
        font-size: 1rem;
        color: black;
        text-decoration: none;
        align-self: center;
        justify-self: center;
        padding-bottom: 5vh;
      }

      .pdd {
        grid-area: c3;
        font-size: 1rem;
        color: black;
        text-decoration: none;
        align-self: center;
        justify-self: end;
        padding-bottom: 5vh;
      }

      .pano61330 img,
      .pano63330 img{
        display: block;
        width: 25vw;
        margin: auto;
      }

    }

}
