
.polaceauce{
//	width: 80vw;
	margin: auto;
}

.page-polaceauce{
	display:grid;
	grid-template-rows:    1fr 0.1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;

	grid-template-areas: 	" pola pola pola"
      						" pano   .   . "
							"  .     .   . ";
	width: 70vw;
	height: 100vh;
	padding: 0 5vw 5vh 5vw;
//	background: no-repeat url('../../public/img/aeriennb.webp');
	margin: auto;
}

.polaroid {
	grid-area: pola;
	align-self: start;
	justify-self: center;
	margin: 0;
}

.polaretceauce {
	grid-area: pano;
	align-self: start;
	margin: 0;
}

//-----------------------------------------------

.polaroid img{
	width: 80vw;
	margin: auto;
}

.polaretceauce img{
	width: 30vw;
	margin: auto;
}

/*  -----------------  pour les écrans moyens de 768px tablette  -------------*/
/* -------------------------------------------------------------------------------*/

body {

	@include media-min(768px) {

		.page-polaceauce {
			width: 600px;
			height: 700px;
		}

	}
	@include media-min(1024px) {
		.page-polaceauce {
			width: 800px;
			height: 700px;

		}
	}

}
