
.polamaigner{
	width: 100%;
	margin: auto;
}

.page-polamaigner{
	display:grid;
	grid-template-rows:    1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 	"a2 a2 a2"
							". . . "
							". c2 .";
	margin: auto;
	width: 586px;
	height: 100vh;
	padding: 0 5vw 5vh 5vw;
	background: no-repeat url('../../public/img/aeriennb.webp');

}

.polaroid{
	grid-area: a2;
	justify-self: center;
	margin: 0;
}

.polaremaigner {
	grid-area: c2;
	align-self: center;
	justify-self: center;
}

.polaremaigner img{
	width: 15rem;
	margin: auto;
}





/*  -----------------  pour les écrans moyens de 768px tablette  -------------*/
/* -------------------------------------------------------------------------------*/

body {

	@include media-min(768px) {

		.page-polamaigner {
			width: 600px;
			height: 700px;
		}
	}

	@include media-min(1024px) {
		.page-polamaigner {
			width: 800px;
			height: 700px;

		}
	}

}
