
.polamaigner{
	//width: 80vw;
	margin: auto;
}

.page-polamaigner{
	display:grid;
	grid-template-rows:    1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;

	grid-template-areas: 	" pola pola pola "
      						" panore .  pano "
							" . 	 . 	  .  ";
	width: 70vw;
	height: 100vh;
	padding: 0 5vw 5vh 5vw;
	background: no-repeat url('../../public/img/aeriennb.webp');
	margin: auto;
}

.polaroid {
	grid-area: pola;
	align-self: center;
	justify-self: center;
	margin: 0;
}

.polaremaigner {
	grid-area: panore;
	align-self: center;
	margin: auto;
}

.polamaigner {
	grid-area: pano;
	align-self: center;
	margin: auto;
}

//------------------------------------------

.polaroid img{
	width: 50vw;
	margin: auto;
}

.polaremaigner img{
	width: 20vw;
	margin: auto;
}

.polamaigner img{
	width: 20vw;
	margin: auto;
}

/*  -----------------  pour les écrans moyens de 768px tablette  -------------*/
/* -------------------------------------------------------------------------------*/

body {

	@include media-min(768px) {

		.page-polamaigner {
			width: 600px;
			height: 700px;
		}

	}

	@include media-min(1024px) {
		.page-polamaigner {
			width: 800px;
			height: 700px;
		}

	}

}
