
.presentation{
	width: 100%;
	margin: auto;
}

.page-presentation {
	background: no-repeat url('../../public/img/presentation.webp');
	width: 586px;
	height: auto;
	margin: auto;
}

.texte-presentation{
	color: black;
	border: solid 2rem $presentation;
	padding: 5vh 5vw 5vh 5vw;
}

/*  -----------------  pour les écrans moyens de 768px tablette  -------------
 ----------------------------------------------------------------------------*/

body {

	@include media-min(768px) {

		.page-presentation {
			width: 586px;
			height: auto;
		}
	}
	@include media-min(1024px) {
		.page-presentationpage {
			width: 586px;
			height: auto;

		}

	}
}

